<div class="container my-4">
  <div class="p-4 bg-light rounded shadow-sm text-center">
    <p class="text-primary">皆で集まって交流したり、オンライン/オフラインに限らない<br>イベントの情報を集められるコミュニティーサイトです！</p>
    <p class="text-muted">ゲーム好きのための情報共有と交流の場を提供しています。(public/homes/top)</p>
  </div>
</div>